@font-face {
  font-family: 'YeogiOttaeJalnan';
  src: url('../assets/fonts/Jalnan2.otf') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OneStoreMobilePop';
  src: url('../assets/fonts/ONE-Mobile-POP-OTF.otf') format('woff');
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#level-buttons {
  /* display: none; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0px;
}

#level-buttons button {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #444;
  color: #fff;
  cursor: pointer;
  font-family: 'YeogiOttaeJalnan', sans-serif;
}

#level-buttons button.active {
  background: #00ff00;
  color: #222;
  font-weight: bold;
}